body{
  font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  #nav {
      width: 100%;;
  }
  #image {
      float: left;
      width: 30%;
      padding: 1%;
  }
  img {
    border-radius: 20px;
    width: 100%;
  }
  #content {
      float: left;
      width: 60%;
      padding: 1%;
      background-color: papayawhip;
      border-radius: 10px;
      font-size: large;
  }
  #image_container {
    width: 12%;
    float: left;
  }
  hr {
    width: 4%;
    height: 3px;
    background-color:green;
    border: none;
  }
  