body{
    font-family: Arial, Helvetica, sans-serif;
}
.Image {
    width: 100%;
    top: 0px;
}
.title {
    position:absolute;
    top: 30%;
    color: aliceblue;
    width: 100%;
    font-size: xx-large;
    text-align: center;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  rgba(17, 17, 17, 0.3);
    width: 100%;
    border-bottom: solid rgb(90, 89, 89) 1px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: rgba(248, 104, 8, 0.3);
}
.active {
    background-color: rgba(245, 8, 8, 0.3);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(17, 17, 17, 0.3);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: rgba(248, 104, 8, 0.3);}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav_bar {
    width: 100%;
    position: absolute;
    top: 0px;
}
.content {
    width: 60%;
    margin: 0 auto;
    padding-top: 50px;
}
button {
    background-color: rgb(0, 193, 252);
    border-radius: 10px;
    width: 10%;
    font-size: large;
}